/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --header-accent-color: var(--accent-color);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --title-color: #DB00FF;
  --title-text_background-color: var(--accent-color);
  --title-text_color:#000028;
  --bg-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --main__text-color: #F1B2CE;
}

.theme-dark .decorated-zone_tag {
  display: block;
}

