/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  /* display: grid; */
  /* gap: 20px; */
  font-family: var(--main-font), sans-serif;
  font-size: --var(--main-font-size);
  background-color: var(--bg-color);
  /* background-image: url(/images/cover-image-dark.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.header {
  /* margin-top: 20px; */
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 55px;
  inline-size: 100%;
  block-size: 100vh;
  padding: var(--content-padding);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.decorated-zone::before{
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.decorated-zone::after{
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu{
  grid-row: 1;
  align-content: end;
  justify-items: end;
}

.header__theme-menu-list{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.header__theme-menu-item{
  inline-size: 70px;
  block-size: 26px;
  color: var(--accent-color);
}

.header__theme-menu-button{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-size: var(--main-font-size);
  text-transform: lowercase;
  text-align: center;
}

.header__theme-menu-button_active{
  border: 1px solid var(--accent-color);
}

.decorated-zone{
  height: 100vh;
  width: 100%;
}
.decorated-zone_tag{
  --block-size: 26px;
  display: block;
  position: absolute;
  color: var(--accent-color);
  block-size: var(--block-size);
  inline-size: 52px;
  line-height: 25px;
  top: 10px;
  right: 18px;
}
.decorated-zone_tag::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  font-size: var(--main-font-size);
  top: 0.35em;
  left: 40px;
  line-height: 25px;
  background-color: var(--accent-color);;
  width: 0.75em;
  height: 0.75em;
}

.title{
  /* Для мобильных */
  width: 100%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--bold-font);
  color: var(--title-color);
  line-height: 95.7px;
  /* Для планшета и десктопа */
  /* clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)  */
}

.title_decor{
  background-color: var(--title-text_background-color);
}

.title_text{
  color: var(--title-text_color);
  font-weight: var(--bold-font);
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.header__text{
  max-height: 117px;
}

.main{
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-top: 30px;
  padding: var(--content-padding);
  padding-bottom: 0px;
}

.main__title {
  color: var(--accent-color);
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.main__text{ 
  font-size: var(--main-font-size);
  color: var(--main__text-color);
  line-height: 23.4px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}
.content_section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__text-regular {
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: var(--content-padding);
}

.gallery-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  inline-size: 100%;
  block-size: min-content;
}

.footer{
  position: relative;
  margin-top: 40px;
  display: grid;
  grid-template-rows: 1fr;
  inline-size: 100%;
  block-size: 100vh;
  padding: var(--content-padding);
  align-items: center;
  justify-items: center;
  justify-content: center;
}