/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --header-accent-color: var(--accent-color);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --title-color: #DB00FF;
  --main-font:"IBM Plex Mono";
  --main-title-text-color: var(--accent-color);
  --bold-font: 700;
  --title-text-background-color: var(--accent-color);
  --title-text-color:#000028;
  --content-padding: 10px;/*desktop and pad 20px*/
  --main-content-padding: 20px;
  --main-font-size: 18px;
  --bg-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --line-height: 23.4px;
  --main-text-color: #F1B2CE;
}

@media (width >= 768px) {
  :root {
    --content-padding: 20px;
    --main-content-padding: 40px;
  }
}